body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #414141;
    background-color: #212121;

    font-family: sans-serif;
    color: white;
}
.main{
    height: 80vh;
    
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */

    justify-content: center;
    align-items: center;
}
.first-h1{
    background-color: black;
    border: solid 3px aqua;
    padding: 15px;

    text-align: center;
    font-size: 1.7em;
}

#guess-field{
    padding: 10px 15px 10px 15px;
    margin: 10px 3px 10px 0px;

    background-color: black;
    border: solid 3px aqua;

    color: white;
    font-size: 20px;
}
button{
    padding: 10px;
    background-color: black;
    border: solid 3px aqua;

    color: white;
    font-size: 20px;
    font-weight: bold;
}
p{
    font-size: 20px;
}
#light-bg{
    background-color: #3b3a3a;
    padding: 5px;
}